<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Handle root URL
    RewriteRule ^$ index.php [QSA,L]

    # Handle front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
